#div1{
    background-color: red;
    width: 700px;
    padding: 0px;
    margin: auto;
}
#div2{
    background-color: green;
    width: 700px;
    padding: 25px;
    margin: auto;
}
#Paragrafo{
    font-family: Arial, Helvetica, sans-serif;
}
#HyperLinks{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}